@media screen and (min-width:768px){
#menu-btn{
    display:none;
}
nav{
    display:flex !important;
    flex-direction:row;
    justify-content:flex-end;
    gap: 1.5em;
    padding: 0 2rem;
}
  .home-grid {
   display: grid;
     grid-template-columns: 2fr 1fr;
     gap: 1rem;
     } 
     main {
      max-width: 1100px;
      margin: 0 auto;
     }
     .navigation {
      display: flex;
      justify-content: flex-end;
     }
  .spotlights {
     grid-column: span 2;
     } 
  #spotlight-container {
   display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
 } 
}