@media screen and (min-width:768px){
#menu-btn{
    display:none;
}
nav{
    display:flex !important;
    flex-direction:row;
    justify-content:flex-end;
    gap: 1.5em;
    padding: 0 2rem;
}
  .home-grid {
     grid-template-columns: 1fr 1fr;
     } 
  .spotlights {
     grid-column: span 2;
     } 
  #spotlight-container {
   display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
 } 
}